asgiref==3.8.1
black==24.4.2
catboost==1.2.5
certifi==2024.6.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
coverage==7.5.4
cycler==0.12.1
distlib==0.3.8
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
filelock==3.15.1
fonttools==4.53.0
graphviz==0.20.3
gunicorn==22.0.0
identify==2.5.36
idna==3.7
inflection==0.5.1
isort==5.13.2
kiwisolver==1.4.5
matplotlib==3.9.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==1.26.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pre-commit==3.7.1
psycopg2-binary==2.9.9
PyJWT==2.9.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
scipy==1.14.0
six==1.16.0
sqlparse==0.5.0
tenacity==8.4.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
virtualenv==20.26.2
